body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF5EE; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    text-align: center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80px;
    height: 80px;
}

.content {
    margin: auto; 
    text-align: center;
}

p {
    font-size: 18px;
    color: #666;
}

.button-container {
    margin-bottom: 20px; 
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #CC5500; 
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 530;
    letter-spacing: 1mm;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333; 
}
