body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFF5EE; 
    text-align: center;
}

.selectedDisplay{
    text-align: center;
    font-size: 18px;
    color: #100f0f;
}

button{
    display: inline-block;
    padding: 10px 30px;
    background-color: #CC5500; 
    color: #100f0f;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5mm;
}

button:hover {
    background-color: transparent;
    text-decoration: none;
    color: #100f0f;
}

a{
    text-decoration: none;
}

a:visited {
    color: #100f0f;
}


button:active {
    text-decoration: none;
}

.container {
    display: flex; 
    justify-content: space-between; 
    max-width: 800px; 
    margin: 0 auto; 
}

.column {
    width: 48%;
    font-size: 13px;
}


#itinerary{
    text-align: justify;
    display: inline-block;
}

#itineraryList{
    font-size: 15px;
}

.center-container {
    text-align: center;
}

